/* Code for the  busy bus  */

body {
	background-color: #444;
	font-family: 'Roboto', sans-serif;
}
/* code for the texts */

h2{
  font-size: 16px;
  font-weight: 500;
	color: #575757;
  display:block;
	padding: 1px 0 0 25px;
}


h2.searchBarText {
	color: #fff;
	font-size: 20px;
	display:inline-block;
	padding: 0 78px 0 25px;
	border-bottom: 3px solid #81c784;
}

ul {
	list-style-type: none;
  float: right;
  padding: 0 0 4px 30px;
	margin: 0 auto;
}

li {
	font-size: 14px;
	line-height: 1.3em;
	font-weight: 600;
	color: #212121;
}



p {
font-size: 14px;
padding: 2px 0 1px 5px;
margin: 1px;
padding: 5px 0 15px 30px;
}
/* code for the classes of the ul, li and p */

.busWithOutFreq {
	list-style-type: none;
  float: right;
  padding: 25px 0 4px 30px;
	margin: 0 auto;
}

.busWithOutService {
	list-style-type: none;
  float: right;
  padding:50px 0 4px 30px;
	margin: 0 auto;
}

.rerouteInfo {
	list-style-type: none;
  float: right;
  padding:  10px 0 4px 30px;
	margin: 0 auto;
}
.deemphasize {
	font-weight:500;
}


.hightlightInfo {
	font-size: 18px;
	font-weight: bolder;
}


.frequency {
	display:block;
	width: 300px;
}


/* code for images */
img {
	width: 100%;

}

.entireBar {
	margin: -5px auto;
	display: block;
	background-color:#1976D2;
	height: 130px;
}
.statusBar{
	background-size: cover;
}
.bottomBar {
background-size:cover;
height: 160px;
	}

.searchcontent{
	display: inline-block;
	max-width: 20%;
	margin: 0 auto;
  padding: 40px 18px 0 25px;
	}



.arrowLeft1 {
	background-size: cover;
	width: 24px;
	height: 24px;
	}


.gps-icon {
	background-size: cover;
	width: 24px;
	height: 24px;
  }

/* end of status and search bar */

/* containers for the elements and classes */

.enclose-icon {
	float:right;
	width: 30px;
  height: 35px;
  padding: 65px 25px 0;
}

.enclose-arrows {
	float:right;
	width: 18px;
  height: 18px;
  padding: 65px 30px 0;
}

.routes:hover {
  background-color: #E2E7EE;
}

.content{
	display: inline-block;
	margin: 1px;
	padding-top: 5px;

}

.container {
  margin: 0 auto;
  width: 360px;
}


.buslist {
	background-color: #f9f9f9;
	width: 360px;
	box-sizing: border-box;
}

.routes{
	margin 0 auto;
	clear:both;
	background-color:#f2f2f2;
  float:left;
	width: 360px;
  height: 135px;
	padding-bottom: 10px;
  border-bottom: 1px solid #808080;
}
